{% extends 'auth-layout.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block controller %}
    <div class="register-controller">
        <svg xmlns="http://www.w3.org/2000/svg" width="0.5em" height="1em" viewBox="0 0 12 24">
            <path fill="currentColor" fill-rule="evenodd" d="M10 19.438L8.955 20.5l-7.666-7.79a1.02 1.02 0 0 1 0-1.42L8.955 3.5L10 4.563L2.682 12z"/>
        </svg>
        <a href={{ url("app_login") }} class="link">Se connecter</a>
    </div>
{% endblock %}

{% block body %}
    <div class="auth-container register-section">
        <div class="auth-form">
            <div class="title">
                <h1>S'inscrire</h1>
            </div>
            <div class="feedback">
                {{ form_errors(registrationForm) }}
            </div>
            {{ form_start(registrationForm, {
                attr: {
                    class: "field"
                }
            } )}}
                {{ form_row(registrationForm.keypass, {
                    attr: { class: "field-group" }
                }) }}
                {{ form_row(registrationForm.contact, {
                    attr: { class: "field-group" }
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    attr: { class: "field-group" }
                }) }}
                {{ form_row(registrationForm.confirmPassword, {
                    attr: { class: "field-group" }
                }) }}
        
                <button type="submit" class="btn">
                    S'inscrire
                </button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
