<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body {{ stimulus_controller("partials/navigation") }}>
        <nav class="navbar">
            {# {{ include("/partials/navbar.html.twig") }} #}
            <div class="nav-title">
                <div class="toggle" {{ stimulus_action("partials/navigation", "expand", "click") }}>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M3 5 A 1.0001 1.0001 0 1 0 3 7L21 7 A 1.0001 1.0001 0 1 0 21 5L3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13L21 13 A 1.0001 1.0001 0 1 0 21 11L3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19L21 19 A 1.0001 1.0001 0 1 0 21 17L3 17 z" fill="#252525" />
                    </svg>
                </div>
                <div class="logo">
                    <img src={{ asset("/images/logo-100px.png") }} alt="Logo">
                </div>
                <div class="title">
                    <b>Association</b>
                    <span>Manager</span>
                </div>
            </div>
            <div class="nav-item">
                {% block nav_item %}{% endblock %}
            </div>
            <div></div>
        </nav>
        <div class="wrapper">
            <aside class="sidebar" {{ stimulus_target("partials/navigation", "sidebar") }}>
                {{ include("/partials/sidebar.html.twig") }}
            </aside>
            <div class="content-wrapper">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
